/* Header css start */
.site-header .header_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.site-header {
    padding: 10px 0;
    background: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    position: sticky;
    top: 0;
    z-index: 999;
}
.site-header .header_container .logo_container .navbar-brand {
    display: inline-block;
    width: 100px;
    border: none;
    outline: none;
    margin-right: 0;
    padding: 0;
}

.site-header .header_container .logo_container .navbar-brand img {
    width: 100%;
}

.site-header .header_container .item_details .total_details{
    display: flex;
    background: #1492C8;
    height: 60px;
    width: 150px;
    border-radius: 10px;
}
.site-header .header_container .item_details .total_details .cart_logo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.site-header .header_container .item_details .total_details .cart_logo i{
    font-size: 25px;
    color: #fff;
}
.site-header .header_container .item_details .total_details .total_count{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
    width: 100%;
    color: #fff;
    font-size: 16px;
    line-height: normal;
    font-weight: 700;
    text-align: center;
}
/* header css end */

/* Product listing css */

.product_list_container{
    padding: 50px 0;
    background: rgba(236, 236, 236, 0.5);
}

.cart_items .cart_item_container{
    column-gap: 20px;
}
.cart_items .cart_item_container .category-list-tabs {
    width: 20%;
    padding: 0 10px;
}

.cart_items .cart_item_container .category-list-tabs .nav-link {
    text-align: left;
    color: #000;
    border-radius: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    word-break: break-word;
}

.cart_items .cart_item_container .category-list-tabs .nav-link:hover {
    background: rgba(20, 146, 200, 0.4);
    color: #fff;
}

.cart_items .cart_item_container .category-list-tabs .nav-link.active {
    background: rgba(20, 146, 200, 0.8);
    color: #fff;
}

.cart_items .cart_item_container .category-list-tabContent {
    width: 80%;
}

.products_ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    column-gap: 15px;
    row-gap: 15px;
    padding-left: 0;
}

.products_ul li {
    width: 32%;
    max-width: 300px;
    min-width: 250px;
    padding: 20px;
    border: 1px solid rgb(240, 240, 240);
    background: rgba(236, 236, 236, 0.4);

}

.products_ul li picture {
    position: relative;
    margin: 0 auto;
    display: block;
    height: 140px;
    width: 140px;
    margin-bottom: 20px;
}

.products_ul li picture img {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    
}
.products_ul li .item_name{
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    text-transform: capitalize;
}

.products_ul li .product_price_count_container .product_price{
    font-size: 18px;
    font-weight: 600;
}
.product_price_count_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product_count {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 10px;
    background: #1492c8;
    color: white;
    border-radius: 10px;
    height: 30px;
}

.product_count .product_count_button {
    background: transparent;
    border: none;
    outline: none;
    color: white;
    width: 25px;
    height: 100%;
}

.product_count .product_count_button.remove_count {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.product_count .product_count_button.add_count {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.product_count .product_count_button:hover {
    background: #ff9900;
}

.product_price p {
    margin-bottom: 0;
}

.product_count p {
    margin-bottom: 0;
}

/* product listing css end */



/* swal css */

.swal2-title{
    font-size: 20px;
}
.swal2-styled.swal2-confirm{
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
    background-color: #1492C8 !important;
    padding: 10px 40px;
}
.swal2-styled.swal2-confirm:hover{
    background-color: #ff9900 !important;
}






/* Resposive css start  */
@media only screen and (max-width: 1199px) {
    .products_ul li{
        width: 30%;
        min-width: 230px;
    }
}
@media only screen and (max-width: 991px) {
    .products_ul li{
        width: 45%;
    }
}
@media only screen and (max-width: 767px) {
    .cart_item_container {
        flex-direction: column;
        align-items: center !important;
        justify-content: center;
        row-gap: 30px;
    }
    .cart_items .cart_item_container .category-list-tabs,.cart_items .cart_item_container .category-list-tabContent{
        width: 100%;
    }
    .cart_items .cart_item_container .category-list-tabs{
        flex-direction: row !important;
    }
    .cart_items .cart_item_container .category-list-tabs .nav-link{
        width: 50%;
        text-align: center;
    }
    .products_ul {
        justify-content: center;
    }
}
@media only screen and (max-width: 576px) {
    .site-header .header_container{
        flex-direction: column;
        row-gap: 10px;
    }
}




/* Resposive css End */
